{
    "presets": [
        ["@babel/preset-env"],
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "api-controller": "./src/controller",
                    "api-utils": "./src/utils",
                    "api-middleware": "./src/middleware",
                    "api-repository": "./src/middleware",
                    "api-service": "./src/middleware"
                }
            }
        ]
    ]
}
