{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": { "node": "current" }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "api-controller": "./src/controller",
                    "api-utils": "./src/utils",
                    "api-middleware": "./src/middleware"
                }
            }
        ]
    ]
}
